<div class='nested-fields'>
  <hr />
  <strong>Author</strong>
  <%= f.select :author_id, options_for_select(Author.all.map { |a| ["#{a.last_name}, #{a.first_name}", a.id] }), {}, class: 'form-control' %>
  <%= link_to_remove_association 'Remove author', f %>
</div>
