<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default js--booksLayoutChanger" data-layout="list" data-url=<%= change_layout_books_path %>>
    <i class="glyphicon glyphicon-th-list"></i>
  </button>
  <button type="button" class="btn btn-default js--booksLayoutChanger" data-layout="cards" data-url=<%= change_layout_books_path %>>
    <i class="glyphicon glyphicon-th"></i>
  </button>
  <form class="navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control js--searchInput" placeholder="Search by title or publisher house...">
    </div>
  </form>
</div>


